<body>
    <header class="header">
        <h1 class="title-lg">Saber y ganar</h1>
        <h2 class="title-xs">Responde mejor y más rápido que los demás</h2>
    </header>
    <main class="content">
        <main>

            <div>
                <div id="questions-list" class="container-questions">
                    <button id="button-init-questions" class="button-start">Comenzar</button>
                </div>
                <button class="hidden" id="button-send-question">Enviar pregunta</button>
            </div>

            <div>
                <p id="timer"></p>
            </div>
        </main>
        <section>
            <h3 class="title-md">Marcador</h3>
            <p class="points">
                <span id="total-points" class="total-points">?</span> puntos
            </p>
            <p>Has acertado
                <span id="correct-answers" class="number-answers">?</span> de
                <span id="total-answers" class="number-answers">?</span> preguntas.
            </p>
        </section>

    </main>

    <script src="main.js"></script>
    <!-- <script> application.start(); </script> -->
</body>